{% load staticfiles %}
<html>
  <head>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
      <title>{{ titlehead}}</title>
  </head>
<body>
<table style="width:100%">
  <h1>{{ pagetitle }}</h1>
      <tr bgcolor="#bbbbbb">
        <td>
  {% if user.username %}

<p>Welcome {{ user.username }}! <a href="/logout/">logout</a></p>

{% else %}
<p>Welcome anonymous:<a href="/login/">sign in</a>. </p>
{% endif %}
   </td>
    </tr>
<hr>
      <tr>
        <td bgcolor="#E0E0E0">
            <h1><a href="/hospitales"> Aplicacion de Hospitales</a></h1>

        </td>
      </tr>
</table>

<span vocab="http://schema.org/" typeof="Hospital">

  {% if hospital %}

      <tr>
          <th colspan="2"><h1>Detalles del Hospital {{ hospital.nombre }}</h1></th>
      </tr>




      <div >
         Codigo: {{hospital.codigo_hospital}}
       </div>

      <div>
         Nombre: <span property="name">{{hospital.nombre}}</span>
      </div>

     	<span property="address" typeof="PostalAddress">
      <div>
           Ciudad: <span property="addressLocality">{{hospital.ciudad}}</span>
      </div>
      <div>
          Pais: <span property="addressCountry">{{hospital.pais}}</span>
      </div>
      <div>
           Codigo Postal: <span property="Postalcode">{{hospital.codigo_postal}}</span>
      </div>
      </span>

      <div>
           Especialidades: <span property="medicalSpecialty">{{hospital.Dep_destacados}}</span>
      </div>
      <div>
           Telefono: <span property="telephone">{{hospital.telefono}}</span>
      </div>
      <div>
            Capacidad: {{ hospital.capacidad}}
      </div>

</span>
<table width="100%">
<tr><td width="33%">


    <table width="100%" bgcolor="#e0e0e0">

    <tr><td ALIGN=CENTER><h3><A HREF="./medicos/">Lista de MEDICOS</A></h3></td></tr>



{% if medicos %}
  {% for medico in medicos %}
        <tr>
        <td ALIGN=CENTER>
     <A HREF="/medicos/{{medico.codigo_medico}}">{{medico.nombre}}</A> {{medico.departamento}}
        </td>
        </tr>
   {% endfor %}
{% else %}
            <tr>
        <td ALIGN=CENTER>
  <p>No hay medicos trabajando en este hospital.</p>
            </td>
        </tr>
{% endif %}


</table>
</td><td width="33%">

      <table width="100%" bgcolor="#e0e0e0" >
      <tr><td ALIGN=CENTER>
          <h3><A HREF="./pacientes/">Pacientes</A></h3>
        </td></tr>
{% if pacientes %}
  {% for paciente in pacientes %}
      <tr><td ALIGN=CENTER>
      <A HREF="/pacientes/{{paciente.dni}}">{{paciente.nombre}}</A>
      </td></tr>
   {% endfor %}
{% else %}
    <tr><td ALIGN=CENTER>
  <p>No hay ultimos pacientes.</p>
    </td></tr>
{% endif %}

      </table>
</td>
<td width="33%">

            <table width="100%" bgcolor="#e0e0e0" >
        <tr><td ALIGN=CENTER>

            <h3><A HREF="./ingresos/">Ingresos</A></h3>
</td></tr>
{% if ingresos %}
  {% for ingreso in ingresos %}
      <tr><td ALIGN=CENTER>
      <A HREF="/ingresos/{{ingreso.codigo_ingreso}}">{{ingreso.codigo_ingreso}}</A>
      </td></tr>
   {% endfor %}
{% else %}
    <tr><td ALIGN=CENTER>
  <p>No hay ultimos ingresos.</p>
    </td></tr>
{% endif %}
</table>
</td></tr>
</table>
  {% else %}

      <tr>
  <th><p>No hay hospitales.</p></th>
      </tr>
  {% endif %}

</body>
</html>
