{%extends "base.html" %}
{% block content %}


  {% if hospital %}
      <tr>
          <th colspan="2"><h1>Detalles del Hospital {{ hospital.nombre }}</h1></th>
      </tr>




      <tr >
          <td width="25%">Codigo</td>
          <td width="25%">{{hospital.codigo_hospital}} </td>
       </tr>

      <tr>
          <td>Nombre</td>
           <td>{{hospital.nombre}}</td>
      </tr>

       <tr>
           <td>Ciudad</td>
           <td>{{ hospital.ciudad}}</td>
       </tr>

       <tr>
           <td>Codigo Postal</td>
           <td>{{ hospital.codigo_postal }}</td>
        </tr>

        <tr>
            <td>Capacidad</td>
            <td>{{ hospital.capacidad}}</td>

      </tr>



<tr>
<td>
    <table width="50%" bgcolor="#e0e0e0">

    <tr><td><h3><A HREF="./medicos/">Lista de MEDICOS</A></h3></td></tr>



{% if medicos %}
  {% for medico in medicos %}
        <tr>
        <td>
     <A HREF="/medicos/{{medico.codigo_medico}}">{{medico.nombre}}</A> {{medico.departamento}}
        </td>
        </tr>
   {% endfor %}
{% else %}
            <tr>
        <td>
  <p>No hay medicos trabajando en este hospital.</p>
            </td>
        </tr>
{% endif %}
    </td>
</tr>

</table>

      <tr>
        <td colspan="3">
      <table width="25%" bgcolor="#e0e0e0" align="right">
      <tr><td>
          <h3><A HREF="./pacientes/">Pacientes</A></h3>
        </td></tr>
{% if pacientes %}
  {% for paciente in pacientes %}
      <tr><td>
      <A HREF="/pacientes/{{paciente.dni}}">{{paciente.nombre}}</A>
      </td></tr>
   {% endfor %}
{% else %}
    <tr><td>
  <p>No hay ultimos pacientes.</p>
    </td></tr>
{% endif %}

      </table>
      </td>

</tr>
      <tr><td colspan="3">

            <table width="25%" bgcolor="#e0e0e0" align="right">
<tr><td>

            <h3><A HREF="./ingresos/">Ingresos</A></h3>
</td></tr>
{% if ingresos %}
  {% for ingreso in ingresos %}
      <tr><td>
      <A HREF="/ingresos/{{ingreso.codigo_ingreso}}">{{ingreso.codigo_ingreso}}</A>
      </td></tr>
   {% endfor %}
{% else %}
    <tr><td>
  <p>No hay ultimos ingresos.</p>
    </td></tr>
{% endif %}
</table>
      </td>
</tr>
  {% else %}

      <tr>
  <th><p>No hay hospitales.</p></th>
      </tr>
  {% endif %}



{% endblock %}