{%extends "base.html" %}
{% block content %}
   <tr>
    <th><h1>Lista de Hospitales</h1></th>
   </tr>
<table  bgcolor="#f5f5f5" align="center">

  {% if hospitales %}
    <tr >
        <th>Nombre</th>
        <th>Localidad</th>
    </tr>

  {% for hospital in hospitales %}

    <tr align="center">
         <td><A HREF="./{{hospital.codigo_hospital}}">{{hospital.nombre}}</A></td>

        <td> {{ hospital.ciudad}}</td>

    </tr>
  {% endfor %}

  {% else %}
      <tr><td>
        <p>No hay hospitales.</p>
      </td>
      </tr>

  {% endif %}


</table>
{% endblock %}