{%extends "base.html" %}
{% block content %}
    <tr>
    <th colspan="3" width="75%"><h1>Lista de ingresos</h1></th>
    </tr>

    <tr>
        <th>Codigo Ingreso</th>
        <th>Paciente</th>
        <th>Sintomas</th>
    </tr>
  {% if ingresos %}

  {% for ingreso in ingresos %}
    <tr align="center">
     <td> <A HREF="/ingresos/{{ingreso.codigo_ingreso}}">{{ ingreso.codigo_ingreso}}</A></td><td> <A HREF="/pacientes/{{ingreso.paciente.dni}}">{{ingreso.paciente}}</A>  </td><td>{{ ingreso.sintomas}}</td>
     </td>
    </tr>
  {% endfor %}



  {% else %}
            <tr><td>
  <p>No hay ingresos.</p>
      </td>
      </tr>
  {% endif %}

</tr>

{% endblock %}