{%extends "base.html" %}
{% block content %}
    <title>Lista de ingresos</title>
</head>
<body>
<h1>Lista de ingresos</h1>
  {% if ingresos %}
  <ul>
  {% for ingreso in ingresos %}
  <li>

  <A HREF="/ingresos/{{ingreso.codigo_ingreso}}">{{ ingreso.codigo_ingreso}}</A> : <A HREF="/pacientes/{{ingreso.paciente.dni}}">{{ingreso.paciente}}</A>  : {{ ingreso.sintomas}}
  </li>
  {% endfor %}
  </ul>

    <a href="/ingresos/put">Nuevo ingreso</a>
  {% else %}
  <p>No hay ingresos.</p>
  {% endif %}


{% endblock %}