{%extends "base.html" %}
{% block content %}
    <tr>
    <table  bgcolor="#f5f5f5" align="center">

  <th colspan="2"><h1>Lista de Pacientes</h1></th>

    </tr>
  {% if pacientes %}
    <tr align="center">
        <th>DNI</th>
        <th>Nombre</th>
    </tr>
  {% for paciente in pacientes %}
    <tr align="center">
        <td><A HREF="/pacientes/{{paciente.dni}}">{{paciente.dni}}</A></td>
        <td>{{paciente.nombre}}</td>

    </tr>



  {% endfor %}

  {% else %}
      <tr>


    <td><p>No hay pacientes.</p></td>
       </tr>
  {% endif %}

</table>

{% endblock %}